html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-size: 10px;
    font-family: 'Teko', serif;
  }
  a {
    text-decoration: none;
  }
  #navbar {
    position: fixed;
    top: 0;
    background-color: #1b0423;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 2px black;
    z-index: 999;
  }
  #navbar a {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 25px;
    color: #33ecbd;
    font-size: 2.5em;
    transition: background 0.3s ease-out;
  }
  #navbar a:hover {
    background-color: #3d0f4d;
  }
  #navbar li {
    list-style: none;
  }
  #navbar ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin: 0;
  }
  #welcome-section {
    width: 100%;
    height: 100vh;
    background-color: #3d0f4d;
  ;
  }
  #welcome-section h1 {
    margin: 0;
    font-size: 6em;
    text-align: center;
    padding: 200px 0 0 0;
    color: #ded8e4;
  }
  #welcome-section p {
    font-size: 4em;
    text-align: center;
    margin: 0;
    color: #ded8e4;
  }
  #projects {
    background-color: #71527c;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #projects p {
    text-align: center;
    color: #33ecbd;
    font-size: 2.5em;
    margin: 5px 0;
  }
  #projects h2 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: #ded8e4;
    font-size: 4em;
    text-align: center;
    border-bottom: solid 2px;
    border-color: #ded8e4;
  }
  .project-tile {
    background-color: #3d0f4d;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    transition: all .3s ease-in-out;
  }
  .project-tile:hover {
    transform: scale(1.1);
  }
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    margin: 0 50px;
  }
  .project-img {
    width: calc(100% - 20px);
    object-fit: cover;
    margin: 9px 9px 0 9px;
    border: solid black 2px;
  }
  #profile-link {
    display: block;
    width: 100px;
    padding: 8px 10px 5px 10px;
    background-color: #3d0f4d;
    color: #dedede;
    text-align: center;
    font-size: 2.5em;
    margin: 50px auto 0 auto;
    transition: background 0.3s ease-out;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
  }
  #profile-link:hover {
    background-color: #1b0423;
    color: #33ecbd;
  }
  #profile-link i {
    font-size: 0.8em;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  #profile-link:hover i {
    transform: translateX(3px);
  }
  
  @media (max-width: 600px) {
    .project-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 50px;
      margin: 0 50px;
    }
  }